
/*用于首页*/

 body {
            font-family: Arial, sans-serif; /* 设置字体 */
            line-height: 1.5; /* 设置行间距 */
            background-color:#CDC5BF;
        }
        
        h1 {
            color: #006400; /* 设置标题颜色 */
	   text-align:center;
          font-size: 30px;
        }

    h2{
            color: #aa0000; /* 设置标题颜色 */
	   text-align:center;
          font-size: 1.5rem; 
        }
        
        p {
            margin-bottom: 1em; /* 设置段落之间的间距 */
		font-size: 20px;
        }
        
        a {
            text-decoration: none; /* 去除超链接下划线 */
            color: #0000CD; /* 设置超链接颜色 */
	  font-size: 1.5rem;
        }

.trh1 {
    height: 50px; /*设置行高为50像素*/


  }

.trh2 {
    height: 50px; /*设置行高为50像素*/
  }

.trh3 {
    height: 50px; /*设置行高为50像素*/
  }

/*屏幕大于1200p×（大屏幕电脑）*/
@media screen and  (min-width: 1200px){
/*屏幕大于1200px（大屏幕电脑）的样式*/
}
/*屏幕在1024p×到1199之间（中屏幕电脑）*/
@media screen and  (min-width: 1024px) and  (max-width: 1199px){
/*屏幕在1024p×到1199之间（中屏幕电脑）的样式*/
}
/*屏幕在768p×到1023之间(小屏幕-pad)*/
@media screen and  (min-width: 768px) and (max-width:1023px){
/*屏幕在768p×到1023之间(小屏幕pad)的样式*/
}
/*屏幕在480p×到768之间（主要是手机屏幕）*/
@media screen and (max-width: 768px) {
/*屏幕小于768之间（主要是手机屏幕）的样式*
}