
/*用于分页，显示目录级别的*/

 body {
            font-family: Arial, sans-serif; /* 设置字体 */
            line-height: 1.5; /* 设置行间距 */
            background-color:#CDC5BF;
        }
        
        h1 {
            color: #006400; /* 设置标题颜色 */
	   text-align:center;
          font-size: 30px;
        }
 h2 {
            color: #006400; /* 设置标题颜色 */
	   text-align:center;
          font-size: 25px;
        }
    h3{
            color: #000000; /* 设置标题颜色 */
	   text-align:left;
          font-size: 25px; 
	font-weight:normal;
        }
        
        p {
            margin-bottom: 1em; /* 设置段落之间的间距 */
		font-size: 25px;
        }
        
        a {
            text-decoration: none; /* 去除超链接下划线 */
            color: #6959CD; /* 设置超链接颜色 */
	  
        }

.trh1 {
    height: 80px; /*设置行高为50像素*/
   font-size: 28px;
   background-color:#E6E6FA;
   text-align:center;
  }
  .trh3 {
    height: 60px; /*设置行高为50像素*/
   font-size: 25px;
   background-color:#B2DFEE;
   text-align:center;
  }

.trh2 {
    height: 60px; /*设置行高为50像素*/
    font-size: 25px;
    align:left;
  }



table

{

border-collapse:collapse;

border:1px solid black;
/*table-layout: auto;*/
}

td

{

border:1px solid black;
font-size: 25px;

}


/*屏幕大于1200p×（大屏幕电脑）*/
@media screen and  (min-width: 1200px){
/*屏幕大于1200px（大屏幕电脑）的样式*/
}
/*屏幕在1024p×到1199之间（中屏幕电脑）*/
@media screen and  (min-width: 1024px) and  (max-width: 1199px){
/*屏幕在1024p×到1199之间（中屏幕电脑）的样式*/
}
/*屏幕在768p×到1023之间(小屏幕-pad)*/
@media screen and  (min-width: 768px) and (max-width:1023px){
/*屏幕在768p×到1023之间(小屏幕pad)的样式*/
}
/*屏幕在480p×到768之间（主要是手机屏幕）*/
@media screen and (max-width: 768px) {
/*屏幕小于768之间（主要是手机屏幕）的样式*
}